clang/** linguist-vendored
cmake/** linguist-vendored
lld/** linguist-vendored
llvm/** linguist-vendored
third-party/** linguist-vendored
zig/** linguist-vendored
zlib/** linguist-vendored
zstd/** linguist-vendored
